body {
    display: inline-flex;
}

output {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: auto;
}

.panel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    /* display: flex; */
    justify-content: inline-flex;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid grey;
    border-radius: 10px;
    height: 75px;
    width: 75px;
    font-size: 50px;
    text-align: center;
    margin: auto;
    background-color: grey;
    color: white;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid grey;
    border-radius: 10px;
    height: 75px;
    width: 150px;
    font-size: 70px;
    margin: auto;
    text-align: center;
}
button:hover {
    background-color: white;
    color: grey;
}
